.mainBox {
    color:white;
    font-family: 'Bebas Neue';
    font-size: 34px;
}

.navbarBox {
    display:flex;
    position:relative;
    width:100%;
    height:95px;
    margin-bottom:100px;
}
    
.selectionBox {
    width:100%;
    height:12vh;
    display:flex;
    background-color: #0f0f3f;
    justify-content: center;
}
    .buttonsNav {
        background-color: #0f0f3f;
        min-width:150px;
        margin-left:65px;
        margin-right:35px;
        margin-top:-0.3em;
        cursor: pointer;
    }
    .buttonsNav:nth-child(1):hover {
        .text {
            transform:scale(110%);
            transition:ease-in-out 0.2s;
            color:#fdaf55;
            text-shadow:1px 1px 10px #fdaf55;
        }
    }
    .buttonsNav:nth-child(2):hover {
        .text {
            transform:scale(110%);
            transition:ease-in-out 0.2s;
            color:#f755fd;
            text-shadow:1px 1px 10px #f755fd;
        }
    }
    .buttonsNav:nth-child(3):hover {
        .text {
            transform:scale(110%);
            transition:ease-in-out 0.2s;
            color:#fdf255;
            text-shadow:1px 1px 10px #fdf255;
        }
    }
    .buttonsNav:nth-child(4):hover {
        .text {
            transform:scale(110%);
            transition:ease-in-out 0.2s;
            color:#559efd;
            text-shadow:1px 1px 10px #559efd;
        }
    }
    .buttonsNav:nth-child(5):hover {
        .text {
            transform:scale(110%);
            transition:ease-in-out 0.2s;
            color:#55fd63;
            text-shadow:1px 1px 10px #55fd63;
        }
    }
    .text {
        position:absolute;
        z-index: 1;
        margin-bottom: 0px;
        height:76px;
        width:112px;
        text-align:center;
        margin:auto;
        padding-top:0.6em;
        padding-left:0.1em;
        transition:ease-in-out 0.2s;
    }
        .imageBox {
            position:absolute;
            top:35px;
            background-color: #0f0f3f;
            border-radius:100%;
            height:120px;
            width:120px;
            text-align: center;
        }
        
        .imageThree {
            height:60px;
            padding-top:1em;
            filter:drop-shadow(0px 0px 4px #fdaf55);
        }
        .imagePhotoshop {
            height:60px;
            padding-top:1em;
            filter:drop-shadow(0px 0px 4px #f755fd);
        }
        .imageGraph {
            height:60px;
            padding-top:1em;
            filter:drop-shadow(0px 0px 4px #fdf255);
        }
        .imageMotion {
            height:60px;
            padding-top:1em;
            filter:drop-shadow(0px 0px 4px #559efd);
        }
        .imageDevelop {
            height:60px;
            padding-top:1em;
            filter:drop-shadow(0px 0px 4px #55fd63);
        }

    
        .backgroundBox {
            z-index: -1;
            position:absolute;
            width:100%;
            height:13vh;
            display:flex;
            background-color: #0f0f3f;
            justify-content: center;
        }
        .backgroundButtonsNav {
            background-color: #0f0f3f;
            min-width:150px;
            margin-left:65px;
            margin-right:35px;
        }
        .backgroundButtonsNavHidden {
            position:absolute;
            top:35px;
            background-color: #0f0f3f;
            border-radius:100%;
            height:120px;
            width:120px;
            text-align: center;
            transform:scale(110%);
            box-shadow: none;
            transition: transform 0.8s ease-in-out, background-color 0.5s ease-in-out;
        }
        .backgroundButtonsNavVisibleThree {
            position:absolute;
            top:35px;
            background-color: #fdaf55;
            border-radius:100%;
            height:120px;
            width:120px;
            text-align: center;
            transform:scale(112%);
            box-shadow:0px -20px 50px 20px #fdaf55;
            transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        }
        .backgroundButtonsNavVisiblePhotoshop {
            position:absolute;
            top:35px;
            background-color: #f755fd;
            border-radius:100%;
            height:120px;
            width:120px;
            text-align: center;
            transform:scale(112%);
            box-shadow:0px -20px 50px 20px #f755fd;
            transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        }
        .backgroundButtonsNavVisibleGraphic {
            position:absolute;
            top:35px;
            background-color: #fdf255;
            border-radius:100%;
            height:120px;
            width:120px;
            text-align: center;
            transform:scale(112%);
            box-shadow:0px -20px 50px 20px #fdf255;
            transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        }
        .backgroundButtonsNavVisibleMotion {
            position:absolute;
            top:35px;
            background-color: #559efd;
            border-radius:100%;
            height:120px;
            width:120px;
            text-align: center;
            transform:scale(112%);
            box-shadow:0px -20px 50px 20px #559efd;
            transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        }
        .backgroundButtonsNavVisibleDevelop {
            position:absolute;
            top:35px;
            background-color: #55fd63;
            border-radius:100%;
            height:120px;
            width:120px;
            text-align: center;
            transform:scale(112%);
            box-shadow:0px -20px 50px 20px #55fd63;
            transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        }


@media only screen and (max-width:768px) {
    .buttonsNav {
        background-color: #0f0f3f;
        min-width:150px;
        margin-left:65px;
        margin-right:35px;
        margin-top:-0.3em;
        cursor: pointer;
    }
}


@media only screen and (max-width:480px) {
    .selectionBox {
        width:192%;
        height:9vh;
        display:flex;
        background-color: #0f0f3f;
        justify-content: center;
        margin: 0 auto;
        margin-left:1px;
    }

    .backgroundBox {
        z-index: -1;
        position:absolute;
        width:100%;
        height:10vh;
        display:flex;
        background-color: #0f0f3f;
        justify-content: center;
    }
    .backgroundButtonsNav {
        background-color: #0f0f3f;
        min-width:150px;
        margin-left:65px;
        margin-right:35px;
    }
    .backgroundButtonsNavHidden {
        position:absolute;
        top:32px;
        background-color: #0f0f3f;
        border-radius:100%;
        height:60px;
        width:60px;
        text-align: center;
        transform:scale(110%);
        box-shadow: none;
        transition: transform 0.8s ease-in-out, background-color 0.5s ease-in-out;
        display:none;
    }
    .backgroundButtonsNavVisibleThree {
        position:absolute;
        top:35px;
        left:31px;
        background-color: #fdaf55;
        border-radius:100%;
        height:60px;
        width:60px;
        text-align: center;
        transform:scale(112%);
        box-shadow:0px -20px 50px 20px #fdaf55;
        transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        display:none;
    }
    .backgroundButtonsNavVisiblePhotoshop {
        position:absolute;
        top:35px;
        left:106px;
        background-color: #f755fd;
        border-radius:100%;
        height:60px;
        width:60px;
        text-align: center;
        transform:scale(112%);
        box-shadow:0px -20px 50px 20px #f755fd;
        transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        display:none;
    }
    .backgroundButtonsNavVisibleGraphic {
        position:absolute;
        top:32px;
        background-color: #fdf255;
        border-radius:100%;
        height:60px;
        width:60px;
        text-align: center;
        transform:scale(112%);
        box-shadow:0px -20px 50px 20px #fdf255;
        transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        display:none;
    }
    .backgroundButtonsNavVisibleMotion {
        position:absolute;
        top:32px;
        background-color: #559efd;
        border-radius:100%;
        height:60px;
        width:60px;
        text-align: center;
        transform:scale(112%);
        box-shadow:0px -20px 50px 20px #559efd;
        transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        display:none;
    }
    .backgroundButtonsNavVisibleDevelop {
        position:absolute;
        top:32px;
        background-color: #55fd63;
        border-radius:100%;
        height:60px;
        width:60px;
        text-align: center;
        transform:scale(112%);
        box-shadow:0px -20px 50px 20px #55fd63;
        transition: transform 0.5s ease-in-out, background-color 0.8s ease-in-out, box-shadow 0.5s ease-in-out;
        display:none;
    }

    .text {
        position:absolute;
        z-index: 1;
        margin-bottom: 0px;
        height:60px;
        width:60px;
        font-size: 18px;
        text-align:center;
        margin:auto;
        padding-top:1.5em;
        padding-left:0;
        transition:ease-in-out 0.2s;
    }
    
    .buttonsNav {
        background-color: #0f0f3f;
        min-width:65px;
        margin-left:5px;
        margin-right:5px;
        margin-top:-0.3em;
        cursor: pointer;
    }    
        .imageBox {
            position:absolute;
            top:35px;
            background-color: #0f0f3f;
            border-radius:100%;
            height:60px;
            width:60px;
            text-align: center;
        }
            .imageThree {
                height:30px;
                padding-top:0.5em;
                filter:drop-shadow(0px 0px 4px #fdaf55);
            }
            .imagePhotoshop {
                height:30px;
                padding-top:0.5em;
                filter:drop-shadow(0px 0px 4px #f755fd);
            }
            .imageGraph {
                height:30px;
                padding-top:0.5em;
                filter:drop-shadow(0px 0px 4px #fdf255);
            }
            .imageMotion {
                height:30px;
                padding-top:0.5em;
                filter:drop-shadow(0px 0px 4px #559efd);
            }
            .imageDevelop {
                height:30px;
                padding-top:0.5em;
                filter:drop-shadow(0px 0px 4px #55fd63);
            }
            
}